/* Color Theme Swatches in Hex */
/*.principal { color: #202426; }
.destaque{ color: #6C733D; }
.Natureza-3-hex { color: #9DA65D; }
.Natureza-4-hex { color: #8C8C88; }
.backgroud { color: #F2F2F2; }*/
html{
	background:  #F2F2F2 ;
	color:#202426;

	font-size: 22px;
	font-family:helvetica, sans-serif;
}

/*1 ** Aspectos gerais.** Aplique os seguintes estilos na estrutura geral da página.

     1. Defina um tamanho fixo para a página inteira

     2. Defina uma fonte do tipo sans-serif para a página inteira

     3. Indente os parágrafos em 1em

2. **Títulos.** Alinhe /todos os títulos para o centro ou a direita.

     1. Defina o tamanho do h1 em 1.8rem

     2. Defina o tamanho do h2 em 1.4rem

     3. Defina o tamanho do h3 em 1.2rem

3. Seções de resumo e principal. Localize os elementos que representam a seção de resumo e principal da página, e aplique nelas:

     1. Alinhamento a direita ou centralizado para a seção de resumo.

     2. Espaçamento entre as linhas de 1.5 para os parágrafos da seção principal.

4. **Abreviaturas.** Customize todos as abreviaturas para que a fonte seja carregada em small-caps .*/

p{
	text-indent: 1em;
}
h1, h2, h3{
	text-align: center;
}
h1{ font-size: 1.8rem;}
h2{ font-size: 1.4rem;}
h3{ font-size: 1.2rem;}

.summary{text-align: right;}
.main, p {line-height: 1.5;}
abbr{ font-variant: small-caps;}

/*  1. Vamos definir algumas diretivas gerais para nossa página.

    - Defina a largura geral da página em 80%, limitado a no máximo 1280px de largura. Centralize a página na tela.

    - Defina a altura da seção de introdução em 550px

    - Remova o container #design-archives da renderização da página

2. Agora vamos incrementar o cabeçalho da página.

   - Inverta a cor do cabeçalho aplicando o fundo escuro e a fonte clara.

- Coloque título e subtítulo lado-a-lado, mas mantendo espaçamento entre eles e o restante da página.

   - Adicione um espaçamento lateral de 1em para o título principal.

3. É hora de incrementar os menus!

   - Remova os bullets dos itens de menu presentes no painel lateral.

   - Aumente o espaçamento entre os itens do menu para 1em, pelo menos.

   - Centralize os itens presentes em cada menu.

4. Por fim, vamos aplicar uma inversão de cores no rodapé para ele ganhar um contraste em relação ao restante da página.

   - Adicione 4% de espaçamento externo no rodapé.

   - Transforme cada link do rodapé em uma caixa colocando borda sólida de 2px, e espaçamento interno de 0.5em. .*/
.main footer{
     margin: 4%;
}

.main footer a {
     border:solid 2px #202426 ;
     padding: 0.5em;
     display:inline-block;
}

aside ul {
     list-style-type: none ;
}
aside ul li {
     margin: 1em;
     text-align: center;
}

.page-wrapper {
     width: 80%;
     max-width: 1280px;
     margin: auto;
}

#zen-intro {
     height: 550px;;
}

#design-archives {
     display: none;
}
#zen-intro header {
background-color:#202426 ;
color:#F2F2F2;
}

#zen-intro header h1, #zen-intro header h2 {
     display: inline-block;
}
#zem-intro header h1{
     margin-left: 1em;
     margin-right: 1em;
}



/*  O foco dessa atividade será reposicionar os elementos da nossa página!

1. Defina o elemento .page-wrapper como referência para posicionamento.

2. Faça com que o painel .explanation ocupe 60% da largura disponível, mas crie um espaçamento a direita de 35% utilizando margin .

- Adicione uma borda à direita do painel de 1px, com a cor #1f295c

- Adicione um espaçamento interno de 2% no lado direito do painel.

3. Agora mova o menu de designs para a direita da página, ocupando o espaço em branco deixado pelo elemento .explanation .

- Faça-o iniciar na parte superior da página, após a parte de introdução (por exemplo, aplicando top: 560px ).

- Faça-o iniciar após o elemento .explanation (por exemplo, aplicando left: 62% ).

- Adicione um espaçamento interno horizontal de 2% no menu para centralizá-lo.

 .*/

 .page-wrapper {
     position: relative;
 }

 .explanation {
     width: 60%;
     border-right: #1f295c solid 1px;
     padding-right: 2%;
 }

 #design-selection {
     position:absolute;
     top: 560px;
     left: 62%;
     padding-left: 1%;
     padding-right: 1%;
 }


/* 1. Aplique o flexbox no rodapé da seção principal, e posicione os links de forma que fique centralizados e com espaçamento entre eles.

- Defina um mesmo tamanho para os links.

- Não se esqueça de tratar o caso de quebra de linha.

2. Configure um layout de flexbox para a seção de benefícios da seguinte forma:

- O texto deve ficar à esquerda, e o título à direita.

- O título deve ficar centralizado verticalmente.

- O texto deve ocupar aproximadamente 70% da largura, e o título 30%.

3. Configure um layout de flexbox para a seção de participação da seguinte forma:

- Cada item deve ocupar 50% do espaço disponível.

- O título deverá ficar centralizado verticalmente.

4. Inclua uma linha no topo e embaixo das seções de benefícios e participação, utilizando a propriedade border-bottom e border-top respectivamente.

- Remova a ocorrência de borda duplicada entre as duas seções. */

.supporting footer{
    display: flex;
    justify-content: space-evenly;
}

.benefits{
     display: flex;
     border-top:  #202426 solid 1px;
     border-bottom: #202426 solid 1px;
}

.benefits p {
     flex-basis: 70%;
}

.benefits h3 {
     order:2;
     align-items: center;
     flex-basis: 30%;
}

.participation {
     display:flex;
     flex-wrap: wrap;
     border-top: #202426 solid 1px;
}

.participation h3, .participation p {
     flex-basis: 50%;
}

.participation h3 {
     align-items: center;
}

 